  /* font by MEK.txt, CC0 License */
@font-face {
  font-family: "MEK-Mono";
  src: url(../assets/MEK-Mono.woff) format("woff");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'MEK-Mono', 'Courier New', Courier, monospace;
  background: -webkit-linear-gradient(60deg, #9945FF, #14F195);
  background-attachment: fixed;
}


nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  /* background-color: black; */
  /* height: 70px; */
  /* padding: 20px 25px; */

}

nav > h2 {
  color: black;
  margin: 20px auto 20px 20px;
  padding: 0;
  /* opacity: 0.5; */
  /* background: -webkit-linear-gradient(60deg, #9945FF, #14F195);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}


main {
  padding: 0;
  margin: 0;
}

#title-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 0;
  padding: 0px;
  /* height: 70px; */
  width: 100%;
}

#title-bar > h2 {
  background: -webkit-linear-gradient(60deg, #9945FF, #14F195);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px 0px
}

#main-body {
  width: 350px;
  min-height: 210px;
  padding: 0;
  margin-top: 70px;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid black;
}

#price-section {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

#price-section > h2 {
  text-align: center;
}

#price-text {
  color: black;
  font-size: 2.4em;
  text-align: center;
  margin-top: auto;
}

@keyframes price {
  from {color: rgba(255, 255, 255, 0.33);}
  to {color: black;}
}

#price-text.priceFlash {
  color: black;
  animation-name: price;
  animation-duration: 3s;
  animation-timing-function: ease;
}

#price-text.defaultText {
  color: black;
}

/* --MEK progress bar (old)

/* #progress-bar-section {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 70px;
  padding: 0;
}

.progress-bar {
  color: black;
} */

.progress-container-w3 {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  background-color: none;
}

.progress-bar-w3 {
  background: -webkit-linear-gradient(60deg, #9945FF, #14F195);
  height: 4px;
  width: 1%;
}

footer {
  position: absolute;
  bottom: 0;
  height: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
}